/*
.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  outline: 0;
}
*/
.carousel-indicators{
    visibility: hidden;
}
.btn{
    background-color: rgba(128,128,128,0.6);
}
.toTop{
    padding-bottom: 15px;
    font-size: 25px;
}
.mainbody{
    max-width:100%;
    max-height:100%;
    text-align: center;
}

.desk{
    max-width:45%;
    max-height:45%;
}

.envelope{
  max-width: 70%;
  max-height: 90%;
}

.backbutton{
  position: absolute;
  left: 15%;
  padding-top: 10px;
  font-size: 25px;
  z-index: 2;
}